*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*background-color: rgb(255, 135, 135);*/
    zoom: 125%;

    background: radial-gradient(
        circle at 10% 20%,
        rgb(251, 255, 0) 0.1%,
        rgb(255, 153, 0) 50.1%
    );
}

.crt{
    background: white;
    color: blue;
    border: none;
    outline: none;
}

::selection{
    background: black;
    color: white;
}

#pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-top: 70px;
}

.single-card{
    flex-basis: calc(100% / 3);
    padding: 20px;
}

.single-card .wrapper{
    background: white;
    height: 100%;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: black;
    transition: 0.4s;
}

.single-card .wrapper:hover{
    transform: translateY(-13px);
    box-shadow: 0 5px 8px 1px black;
}

.single-card h3 {
    text-align: center;
    font-weight: 900;
}

.single-card h1{
    margin: 15px 0;
    margin-bottom: 18px;
    font-size: 32px;
}

.single-card li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.single-card span{
    font-size: 11px;
    font-weight: 500;
}

.single-card button{
    height: 40px;
    width: 100%;
    background: white;
    color: blue;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 30px;
    transition: 0.3s;
}

.single-card button:hover{
    background-color: blue;
    color: white;
    font-weight: 500;
    box-shadow: rgb(133, 133, 133);
}

.single-card .popular{
    position: relative;
}

.single-card .popular::before{
    content: "Featured";
    position: absolute;
    top: 18px;
    color: #111;
    font-weight: 500;
    right: -45px;
    background:yellow;
    transform: rotate(45deg);
    font-size: 10px;
    padding: 0 50px;
    box-shadow: 9px 9px 10px black;
}

.popular.wrapper button, .pupular.wrapper i{
    color: #111;
    background: white;
}

.disable span{
    color: black;
    height: 20px;
}

.disable i.fas{
    background: white;
}

@media screen and (max-width: 768px){
    .single-card{
        flex-basis: calc(100% / 2);
    }
}

@media screen and (max-width: 576px){
    .single-card{
        flex-basis: calc(100%);
    }
}