body{
    background-color: rgb(255, 94, 0);
    color: white;
    text-align: center;
}

p{
    font-size: 5rem;
}

input{
    border-radius: 100px;
    background-color: rgb(255, 94, 0);
    color: white;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(255, 94, 0);
    border-bottom: 10px;
}

ol{
    position: absolute;
    list-style-type: circle;
}

ol li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carta{
    position: relative;
    top: 15rem;
    box-shadow: black;
    transition: 0.3s;
}

.carta2{
    position: relative;
    top: -23.5rem;
    box-shadow: black;
    transition: 0.3s;
    text-align: relative;
    left: 30rem;
}

hr{
    position: relative;
    top: 8rem;
}

div{
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
}

.lista{
    padding: 1em;
    margin: 1em 0 1em 4em;
    width: 300px;
    left: 20rem;
    top: 21.7rem;
}


.carta:hover{
    box-shadow: rgb(0, 0, 0);
}

.carta2{
    position: relative;
    top: -23.0rem;
    box-shadow: black;
    transition: 0.3s;
    text-align: relative;
    left: 35rem;
}

.carta3{
    position: relative;
    top: -61rem;
    box-shadow: black;
    transition: 0.3s;
    text-align: relative;
    left: 70rem;
}
