*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.todo{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.divtodo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.divback{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
}

.divback div{
    margin: 100px 40px;
    color: rgb(255, 255, 255);
    transition: all 500ms;
}


.divback div p,
.divback button{
    margin-top: 30px;
}

.divback div h3{
    font-weight: 400;
    font-size: 26px;
}

.divback div p{
    font-size: 16px;
    font-weight: 300;
}

.divback button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.divback button:hover{
    background: #46A2FD;
    color:  #fff;;
}

/*Formularios*/

.loginRegistro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.loginRegistro form{
    width: 100%; 
    padding: 80px 20px;
    background: rgb(1, 204, 255);
    position: absolute;
    border-radius: 20px;
}

.loginRegistro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.loginRegistro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.loginRegistro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #ff6600;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formin{
    opacity: 1;
    display: block;
}
.formRegister{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .divback{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .divback div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .loginRegistro{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .loginRegistro form{
        position: relative;
    }
}
