*{
    font-family:'Courier New', Courier, monospace,
}

body{
    margin: 0px;
    background-color: rgb(255, 255, 0);
}

.button{
    border: none;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 8.5px 20px;

}

.button-2{
    border-radius: 15px;
    padding: 10.5px 5px;
    color: rgb(0, 0, 0);
    border: 0px solid blue;
    transition-duration: 0.4s;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.button-2:hover{
    background-color: blue;
    color: white;
    border-radius: 15px;
}

.icon2{
    width:100%;
}

.page-nav{
    background-color: rgb(251, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    position: relative;
}

.page-nav h1{
    text-align: center;
    margin: 50px;
    color: rgb(0, 0, 0);
}

.page-content{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.product-container{
    margin: 15px;
    padding: 3px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(145, 145, 145);
    background-color: white;
    
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 black;
    transform: translateY(-13px);
    border-radius: 15px;
}

.product-container img{
    width: 300px;

}

.product-container h2{
    margin-bottom: 10px;
    margin-left: 15px;
}

.button{
    border-radius: 8px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: 2px solid green;
    transition-duration: 0.4s;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.button:hover{
    background-color: green;
    color: white;
}

.header{
    background-color:  rgb(251, 255, 0);
    display: flex;
    justify-content: flex-start;
    align-items: left;
    height: 100px;
    padding:-20px 0%;
    
}

.iconos{
    height: 40px;
    margin-left: 5px;
    
}

.iconos:hover{
    transform: scale(1.2);
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 50px;
    width: 50px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links li{
    display:initial;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: rgb(121, 121, 121);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgb(0, 26, 255);
}

h1 .btn button{
    font-weight: 700;
    color: rgb(124, 124, 124);
    padding: 10px 20px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: large;
    vertical-align: top;
    display: inline-block;
}

button{
    font-weight: 700;
    color: rgb(124, 124, 124);
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

header .btn button{
    margin-left: 0px;
    background-color: white;
    color: blue;
    transform: scale();
}

header .btn button:hover{
    background-color: white;
    color: blue;
    transform: scale();
}

hr {
    visibility: hidden;
    margin: 0 auto;
    margin-top: 40px;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
